body {
    background-image: url("../images/coffeebeanbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-size: 400%; 
    font-family: 'Pacifico', cursive;
    text-align: center;
    letter-spacing: 3px;
    line-height: 1em;
    margin-bottom: .5em;
    color: #56391D;
}
p {
    font-family: 'Roboto', sans-serif; 
    font-size: 150%;
    letter-spacing: 3px;
    line-height: 2em;
    color: #35032B;
 }

 button {
     position: absolute;
     margin: 1em;
     background-color: #31896A;
     color: white;
     border: none;
     border-radius: 12px;
     font-size: 2em;
     font-family: 'Pacifico', cursive;
     box-shadow: 2px 4.5px #999;
 }

 button:active {
     transform: translateY(4px);
 }

 .main {
     margin: 0 auto;
     width: 75%;
     padding: 3em;
     z-index: 1;
 }
 
 .main:before {
    content: " ";
    position: absolute;
    top: 1em; 
    left: 6em;
    width: 75%; 
    height: 70%;  
    opacity: .7; 
    z-index: -1;
    background-image: url("../images/green_cup/green_cup.png");
    display: inline-block;
}

.target p {
    text-align: center;
    color: #0A194C;
    font-size: 250%;

}